package ${package}.${moduleName}.dao;

import ${package}.${moduleName}.entity.${className}Entity;
//import com.baomidou.mybatisplus.mapper.BaseMapper;
import org.apache.ibatis.annotations.Mapper;

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Mapper
public interface ${className}Dao { //extends BaseMapper<${className}Entity> {

    ${className}Entity selectByPrimaryKey(Integer uid);

    int updateByPrimaryKey(${className}Entity ${classname}Entity);

    int insert(${className}Entity ${classname}Entity);

    int delete(${className}Entity ${classname}Entity);

    int delete(Integer uid);
}

